{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="jumbotron">
    <h2 style="text-align:center;">COACHYA</h2>
  </div>
  <div class="container" style="text-align:center;">
    <h5><b>About Coachya</b></h5>
    <p>This application was designed with an aim of connecting teams to coaches.This arose after we discovered that most
      tems were stuggling to develop and we thought of creating a platform for them to acquire aid whether financial,counseling
      or skill development</p><br>
    <h5><b>How it Works</b></h5>
    <p>The app allows users to view teams and coaches. When users log in to the application they are able to create a profile
      either as a team or as a coach. Coaches are then allowed to send messages to the teams to contact them if they are
      interested in the team. The teams are alloewed to view their profile where they can read messages sent to their profile.
      Upon viewing the messages they acquire the email of the coach interested in them and from there they can communicate
      via email</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="/static/photos/carousel2.png" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/photos/carousel3.png" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
          <img src="/static/photos/carousel4.png" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>...</h5>
            <p>...</p>
          </div>
        </div>
        <div class="carousel-item">
            <img src="/static/photos/carousel5.png" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>...</h5>
              <p>...</p>
            </div>
          </div>
            
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>
{% endblock %}