{% extends 'bootstrap/base.html' %}

<!-- Navbar block  -->
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/post.css')}}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Pitches </title>
    {% endif %}
  </head>
  <body>

    {% block content %}

    {% endblock %}

  </body>
</html>
