{% extends 'base.html' %}
<!--Styles block-->

<!-- Content block -->

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2 style="text-align:centre;">Sponsors</h2>
    {% for coach in coaches %}
    <div class="card">
      <div class="car-body">
        <div class="row">
          <div class="col-md-2">
            <img src="{{coach.avatar(60)}}" alt="avatar">
          </div>
          <div class="col-md-10">
            <h3><span><b>Name</b></span> {{ coach.name }}</h3>
            <p><span><b>Support Providing</b></span> {{ coach.support_to_provide }}</p>
            <h5><b>Acceptance Requirements</b></h5>
            <p> {{coach.description}}</p>
          </div>
        </div>
      </div>
    </div>

        {% endfor %}

  </div>
  <div class="col-md-6">
    <h2 style="text-align:centre;">Teams</h2>
    {% for team in teams %}

    <!-- Blog Category -->
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="{{team.avatar(61)}}" alt="avatar">
          </div>
          <div class="col-md-10">
            <h3><span><b>Team name:</b></span> {{team.teamname}}</h3><br>
            <h5><b>Team Description</b></h5>
            <p> {{team.description}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-md" style="background-color: white;" href="/details/{{team.id}}">Team Details</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock%}
