{% extends 'base.html' %}

{% block content%}
<body>
<div class="row">
  <div class="col-md-6">
    <h1>{{user.username}}</h1>
  </div>
  <div class="col-md-6">
    {% for profile in profiles %}
      <div class="card">
        <div class="card-title">
          <h3><span><b>Team Name</b></span>{{profile.teamname}}</h3>
        </div>
        <div class="card-body">
          <h4>Description</h4>
          <p>{{profile.description}}</p>
        </div>
        <div class="card-footer">
          <a style="background-color:white;" class="btn btn-md" href="/message/{{profile.id}}">view messages</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</body>
  <style>

    body{
      background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/static/photos/background6.jpeg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }


  </style>
{% endblock %}
